<nav [ngClass]="{'connection-warning': !connected}" class="uk-navbar uk-navbar-container uk-margin">
    
    <div class="uk-navbar-left">
        <a href="#offcanvas-slide" uk-icon="icon: menu; ratio: 2" class="uk-padding-small" uk-toggle></a>
        <span *ngIf="!connected" id="warning-badge" class="uk-badge">!</span>
        <div id="offcanvas-slide" uk-offcanvas>
            <div class="uk-offcanvas-bar">
                <a href="#offcanvas-slide" uk-icon="icon: close; ratio: 2" class="uk-align-right" uk-toggle></a>

                <div class="uk-margin">
                    <div class="uk-inline">
                        <span *ngIf="connected" class="uk-form-icon" uk-icon="icon: check"></span>
                        <span *ngIf="!connected" class="uk-form-icon" uk-icon="icon: warning"></span>
                        <input id="host" [(ngModel)]="ballsports.host" class="uk-input uk-form-large uk-form-danger" type="text" />
                    </div>
                </div>
                <div>
                    <button class="uk-button uk-button-default" (click)="getData()">
                        Connect
                        <span *ngIf="loading" class="uk-margin-left" uk-spinner="ratio: 0.75"></span>
                    </button>    
                </div>
            </div>
        </div>

    </div>
    <h2 class="uk-align-center">{{matchTitle}}</h2>
    <div *ngIf="!connected" class="uk-align-center">Can't connect to Ballsports</div>
</nav>

<div class="uk-flex uk-flex-wrap-around uk-flex-center">
    <team-stat *ngFor="let teamStat of teamStats" [stat]="teamStat"></team-stat>
</div>

<div class="uk-margin-top" uk-grid>

    <!-- Home players -->
    <div>
        <ul class="uk-tab-left" uk-tab>
            <li *ngFor="let player of playersTeam0" class="player-button" (click)="selectPlayer(player, 0)">
                <a class="uk-text-left player">
                    {{player.name}}
                    <span class="uk-align-right player player-number">{{player.number}}.</span>
                </a>
            </li>
        </ul>
    </div>

    <!-- Player stats -->
    <div class="uk-align-center uk-width-1-3 uk-flex uk-flex-wrap divider-right padding-fix">
        <player-stat *ngFor="let stat of selectedPlayerTeam0.stats" [stat]="stat"></player-stat>
    </div>

    <!-- Player stats -->
    <div class="uk-align-center  uk-width-1-3 uk-flex uk-flex-wrap padding-fix">
        <player-stat *ngFor="let stat of selectedPlayerTeam1.stats" [stat]="stat"></player-stat>
    </div>

    <!-- Away players -->
    <div>
        <ul class="uk-tab-right" uk-tab>
            <li *ngFor="let player of playersTeam1" class="player-button">
                <a (click)="selectPlayer(player, 1)" class="uk-text-right player">
                    <span class="uk-align-left player player-number">{{player.number}}.</span>
                    {{player.name}}
                </a>
            </li>
        </ul>
    </div>
    <!-- 
    <div class="uk-align-center">
        <h1 class="uk-text-center">Team stats</h1>
        <team-stat *ngFor="let stat of teamStats" [stat]="stat"></team-stat>
    </div>
    -->
</div>    
