<nav class="uk-navbar uk-navbar-container uk-margin">
    
    <div class="uk-navbar-left">
        <a href="#offcanvas-slide" uk-icon="icon: menu; ratio: 2" class="uk-padding-small" uk-toggle></a>
        <span *ngIf="!connected" id="warning-badge" class="uk-badge">!</span>
        <div id="offcanvas-slide" uk-offcanvas>
            <div class="uk-offcanvas-bar">
                <a href="#offcanvas-slide" uk-icon="icon: close; ratio: 2" class="uk-align-right" uk-toggle></a>

                <div class="uk-margin">
                    <label for="matchId">Select Match ID</label>
                    <select id="matchId" class="uk-select" [(ngModel)]="ballsports.matchId">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>
                        <option>13</option>
                        <option>14</option>
                        <option>15</option>
                        <option>16</option>
                        <option>17</option>
                        <option>18</option>
                    </select>
                </div>
                
                <div class="uk-margin">
                    <div class="uk-inline">
                        <span *ngIf="connected" class="uk-form-icon" uk-icon="icon: check"></span>
                        <span *ngIf="!connected" class="uk-form-icon" uk-icon="icon: warning"></span>
                        <input id="host" [(ngModel)]="ballsports.host" class="uk-input uk-form-large uk-form-danger" type="text" />
                    </div>
                </div>
                <div>
                    <button class="uk-button uk-button-default" (click)="getData()">
                        Connect
                        <span *ngIf="loading" class="uk-margin-left" uk-spinner="ratio: 0.75"></span>
                    </button>    
                </div>
            </div>
        </div>

    </div>
    <h2 class="uk-align-center">{{matchTitle}}</h2>
</nav>

<!-- 
     <div class="uk-grid-divider" uk-grid>
     <team-stat *ngFor="let teamStat of teamStats" [stat]="teamStat"></team-stat>
     </div>
-->

<div class="uk-margin-top" uk-grid>

    <!-- Home players -->
    <div class="uk-width-1-4">
        <ul class="uk-tab-left" uk-tab>
            <li [ngClass]="{'uk-active': i == lastSelectedPlayer0}" *ngFor="let player of playersTeam0; index as i" class="player-button" (click)="selectPlayer(player, 0, i)">
                <a class="uk-text-left player">
                    {{player.name}}
                    <span class="uk-align-right player player-number">{{player.number}}.</span>
                </a>
            </li>
        </ul>
    </div>

    <!-- Player stats -->
    <div class="uk-width-1-4 uk-flex uk-flex-wrap divider-right padding-fix">
        <player-stat *ngFor="let stat of selectedPlayerTeam0.stats" [stat]="stat"></player-stat>
    </div>

    <!-- Player stats -->
    <div class="uk-width-1-4 uk-flex uk-flex-wrap padding-fix">
        <player-stat *ngFor="let stat of selectedPlayerTeam1.stats" [stat]="stat"></player-stat>
    </div>

    <!-- Away players -->
    <div class="uk-width-1-4">
        <ul class="uk-tab-right" uk-tab>
            <li [ngClass]="{'uk-active': i == lastSelectedPlayer1}" *ngFor="let player of playersTeam1; index as i" class="player-button" (click)="selectPlayer(player, 1, i)">
                <a class="uk-text-right player">
                    <span class="uk-align-left player player-number">{{player.number}}.</span>
                    {{player.name}}
                </a>
            </li>
        </ul>
    </div>
    <!-- 
    <div class="uk-align-center">
        <h1 class="uk-text-center">Team stats</h1>
        <team-stat *ngFor="let stat of teamStats" [stat]="stat"></team-stat>
    </div>
    -->
</div>    
