$input-width: 50px;
$input-height: 40px;

input {
    text-align: center;
    font-size: 16pt;
    min-width: $input-width;
    max-width: $input-width;
    min-height: $input-height;
    max-height: $input-height;
}

.stat {
    min-width: 104px;
    margin-bottom: 18px;
}

.stat-title {
    max-width: 110px;
    margin-bottom: 5px;
    font-size: 12pt;
}

button {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;

    height: $input-height;
}
